<canvas id="mycanvas" data-processing-sources="processing/pond.pjs processing/Fish.pjs processing/Boid.pjs processing/Flagellum.pjs"></canvas>
<div id="debugger" style="border: 1px solid black; height: 30px; width: 100%"></div>

<script type="text/javascript">
  var pusher = new Pusher(<%= render_pusher_key %>);
  var channel = pusher.subscribe("private-aquarium");  

  channel.bind('pusher:subscription_succeeded', function() {
      sendUpdate();
  });

  channel.bind('pusher:subscription_error', function(status) {
    alert("pusher subscription failed: " + status);
  });

  channel.bind('client-update', function(data) {
    var p = Processing.getInstanceById('mycanvas');
    p.updateRemote(data.myLocation, data.mousePosition, data.stripeColor, data.id, data.maxSpeed, data.maxForce, data.bodySizeW, data.bodySizeH);
  });

  setInterval(function(){
      sendUpdate();
      printDebugInfo();
  }, 100); // send every 200 milliseconds if position has changed  

  function sendUpdate(){
    var p = Processing.getInstanceById('mycanvas');
    var myFish = p.getMyFish();
    channel.trigger("client-update",
      {
        myLocation: myFish.getLocation(),
        mousePosition: myFish.getMousePosition(),
        stripeColor: myFish.getStripeColor(),
        id: myFish.getId(),
        maxSpeed: myFish.getMaxSpeed(),
        maxForce: myFish.getMaxForce(),
        bodySizeW: myFish.getBodySizeW(),
        bodySizeH: myFish.getBodySizeH()
      });
    }

  function printDebugInfo() {
    var p = Processing.getInstanceById('mycanvas');
    myFish = p.getMyFish();
    document.getElementById('debugger').innerHTML = myFish.getId();
  }
    
</script>
