<div id="pond-container">
    <div id="instructions">
      <div id="instructions1" class="instructions">
        Welcome to the Aquarium.
      </div>
      <div id="instructions2" class="instructions">
        Invite your friends to swim together :)
      </div>
    </div>

    <div id="credits">
      <div>
        koi designed by 
        <a href="http://nardove.com/" target="_blank">nardove</a>
        <br>
        interactive aquarium by 
        <a href="http://twitter.com/sunahsuh" target="_blank">sunah suh</a> 
        and 
        <a href="http://twitter.com/davidleibovic" target="_blank">david leibovic</a>
      </div>
    </div>


  <canvas id="mycanvas" data-processing-sources="processing/pond.pjs processing/Fish.pjs processing/Boid.pjs processing/Flagellum.pjs processing/Bubble.pjs"></canvas>

</div>

<!-- <div id="debugger" style="border: 1px solid black; height: 30px; width: 100%"></div> -->

<script type="text/javascript">
  var pusher = new Pusher(<%= render_pusher_key %>);
  var channel = pusher.subscribe("private-aquarium");  

  channel.bind('pusher:subscription_succeeded', function() {
      sendUpdate();
  });

  channel.bind('pusher:subscription_error', function(status) {
    alert("pusher subscription failed: " + status);
  });

  channel.bind('client-update', function(data) {
    var p = Processing.getInstanceById('mycanvas');
    p.updateRemote(data.myLocation, data.mousePosition, data.stripeColor, data.id, data.maxSpeed, data.maxForce, data.bodySizeW, data.bodySizeH, data.velocity, data.canonicalUnModdedLocation, data.canonicalVelocity);
  });

  setInterval(function(){
      sendUpdate();
      //printDebugInfo();
  }, 100); // send every 100 milliseconds if position has changed  

  function sendUpdate(){
    var p = Processing.getInstanceById('mycanvas');
    var myFish = p.getMyFish();
    channel.trigger("client-update",
      {
        myLocation: myFish.getLocation(),
        mousePosition: myFish.getMousePosition(),
        stripeColor: myFish.getStripeColor(),
        id: myFish.getId(),
        maxSpeed: myFish.getMaxSpeed(),
        maxForce: myFish.getMaxForce(),
        bodySizeW: myFish.getBodySizeW(),
        bodySizeH: myFish.getBodySizeH(),
        velocity: myFish.getVelocity(),
        canonicalUnModdedLocation: myFish.getCanonicalUnModdedLocation(),
        canonicalVelocity: myFish.getVelocity()
      });
    }

  function printDebugInfo() {
    var p = Processing.getInstanceById('mycanvas');
    myFish = p.getMyFish();
    document.getElementById('debugger').innerHTML = myFish.getId();
  } 
</script>

<script>
  $(document).ready(function() {
    $('#instructions1').delay(3000).fadeIn(3500)
      .fadeOut(3500, function() {
        $('#instructions1').text("It gets lonely swimming alone...").
          fadeIn(3500, function() {
            $('#instructions2').fadeIn(3500);
          });
      });
    setTimeout(function(){$(".instructions").fadeOut(3500);},28000);
  });
</script>
<!--
<audio autoplay="autoplay">
  <source src="audio/swimming-music.ogg" type="audio/ogg" />   
  <source src="audio/swimming-music.mp3" type="audio/mpeg" />
</audio> --> 
