<div id="instructions1" class="instructions" style="display:none;position:fixed;top:50px;left:50px;z-index:2;font-weight:bold;font-size:28px;font-family:helvetica,arial;">Welcome to the Aquarium.</div>
<div id="instructions2" class="instructions" style="display:none;position:fixed;top:100px;left:75px;z-index:2;font-weight:bold;font-size:28px;font-family:helvetica,arial;">Invite your friends to swim together :)</div>
<div id="credits" style="text-align:right;position:fixed;bottom:5px;right:10px;z-index:2;font-size:15px;font-family:helvetica,arial;color:white;">koi designed by <a style="color:white" href="http://nardove.com/" target="_blank">nardove</a><br>interactive aquarium by <a style="color:white;" href="http://twitter.com/sunahsuh" target="_blank">sunah suh</a> and <a style="color:white" href="http://twitter.com/davidleibovic" target="_blank">david leibovic</a></div>

<canvas id="mycanvas" data-processing-sources="processing/pond.pjs processing/Fish.pjs processing/Boid.pjs processing/Flagellum.pjs processing/Bubble.pjs"></canvas>
<!-- <div id="debugger" style="border: 1px solid black; height: 30px; width: 100%"></div> -->




<script type="text/javascript">
  var pusher = new Pusher(<%= render_pusher_key %>);
  var channel = pusher.subscribe("private-aquarium");  

  channel.bind('pusher:subscription_succeeded', function() {
      sendUpdate();
  });

  channel.bind('pusher:subscription_error', function(status) {
    alert("pusher subscription failed: " + status);
  });

  channel.bind('client-update', function(data) {
    var p = Processing.getInstanceById('mycanvas');
    p.updateRemote(data.myLocationScaleFactor, data.mousePositionScaleFactor, data.stripeColor, data.id, data.maxSpeed, data.maxForce, data.bodySizeW, data.bodySizeH);
  });

  setInterval(function(){
      sendUpdate();
      //printDebugInfo();
  }, 100); // send every 100 milliseconds if position has changed  

  function sendUpdate(){
    var p = Processing.getInstanceById('mycanvas');
    var myFish = p.getMyFish();
    channel.trigger("client-update",
      {
        myLocationScaleFactor: myFish.getLocationScaleFactor(),
        mousePositionScaleFactor: myFish.getMousePositionScaleFactor(),
        stripeColor: myFish.getStripeColor(),
        id: myFish.getId(),
        maxSpeed: myFish.getMaxSpeed(),
        maxForce: myFish.getMaxForce(),
        bodySizeW: myFish.getBodySizeW(),
        bodySizeH: myFish.getBodySizeH()
      });
    }

  function printDebugInfo() {
    var p = Processing.getInstanceById('mycanvas');
    myFish = p.getMyFish();
    document.getElementById('debugger').innerHTML = myFish.getId();
  }
    
</script>

<script>
  $(document).ready(function() {
    $('#instructions1').delay(3000).fadeIn(3500)
      .fadeOut(3500, function() {
        $('#instructions1').text("It gets lonely swimming alone...").
          fadeIn(3500, function() {
            $('#instructions2').fadeIn(3500);
          });
      });
    setTimeout(function(){$(".instructions").fadeOut(3500);},28000);
  });
</script>

<audio autoplay="autoplay">
  <source src="audio/swimming-music.ogg" type="audio/ogg" />   
  <source src="audio/swimming-music.mp3" type="audio/mpeg" />
</audio> 
